<input type="text" @bind-value="@message"/>
<input type="text" @bind-value="@text"/>
<input type="button" value="Click" @onclick="ChangeText"/>
<div>
    @message
</div>

@code {
    [Parameter]
    public string Message { get; set; }

    string message = "Un contenido";
    string text;

    // Quiero que cargue el mensaje al inicio del componente
    protected override async Task OnInitializedAsync()
    {
        message = Message;
    }

    private void ChangeText()
    {
        message = text;
    }
}
